In [1]:
import pandas as pd
import numpy as np
from plotly.offline import init_notebook_mode,iplot
import plotly.plotly as py
import plotly.tools as tls
init_notebook_mode(connected=True) 
%matplotlib inline
tls.set_credentials_file(username = 'shmylm', api_key = 'rJXTWcMKPD4xWVrXqF1W')

In [2]:
path = '/Users/shmylm/Desktop/Project/Process/'

In [3]:
BA_job = pd.read_csv(path + 'BA_job_clean.csv')

In [4]:
BA_job

,City,Company,Description,Name,Salary,State,Url,Salary_Lower_Bound,Salary_Upper_Bound
0,Boston,LevelUp,Business Operations AnalystCome join the Level...,Business Operations Analyst,$53k-$82k(Glassdoor Est.),MA,https://www.glassdoor.com/partner/jobListing.h...,53.0,82.0
1,Boston,Westernacher,Business Analyst Are you looking for a global ...,Business Analyst,$74k-$107k(Glassdoor Est.),MA,https://www.glassdoor.com/partner/jobListing.h...,74.0,107.0
2,Boston,KLR,"Job DescriptionLocation: Providence, RI and/o...",Emerging Business Associate,$46k-$78k(Glassdoor Est.),MA,https://www.glassdoor.com/partner/jobListing.h...,46.0,78.0
3,Boston,Boston Consulting Group,Business Analyst 21-Nov-2018 Position Summar...,Business Analyst,$78k-$116k(Glassdoor Est.),MA,https://www.glassdoor.com/partner/jobListing.h...,78.0,116.0
4,Boston,Caresoft,Skills Required: Experience with onshore/offs...,Business Analyst,$60k-$96k(Glassdoor Est.),MA,https://www.glassdoor.com/partner/jobListing.h...,60.0,96.0
5,Boston,Bullhorn,"Reporting to the Lead Business Analyst, the B...",Business Analyst,$59k-$95k(Glassdoor Est.),MA,https://www.glassdoor.com/partner/jobListing.h...,59.0,95.0
6,Boston,"Safety Insurance Group, Inc.",Job Summary:DBA expert to provide development ...,Database Systems Analyst,$61k-$115k(Glassdoor Est.),MA,https://www.glassdoor.com/partner/jobListing.h...,61.0,115.0
7,Boston,Anaqua,Do you have a desire to be an integral part o...,Business Analyst,$51k-$84k(Glassdoor Est.),MA,https://www.glassdoor.com/partner/jobListing.h...,51.0,84.0
8,Boston,Autodesk,"Location: Boston, MA- United StatesJob ID: 18W...",Business Analyst,$75k-$120k(Glassdoor Est.),MA,https://www.glassdoor.com/partner/jobListing.h...,75.0,120.0
9,Boston,Cervello Inc,What we need: Cervello is looking for a Busine...,Business Analyst,$63k-$101k(Glassdoor Est.),MA,https://www.glassdoor.com/partner/jobListing.h...,63.0,101.0
10,Boston,Alignable,"Alignable is an established, yet rapidly grow...",Business Analyst,NaN,MA,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
11,Boston,Mastech,Job Description: Mastech Digital provides dig...,Business Analyst,NaN,MA,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
12,Boston,"LifeYield, LLC",Job DescriptionOverview LifeYield builds inve...,Business Analyst,$55k-$90k(Glassdoor Est.),MA,https://www.glassdoor.com/partner/jobListing.h...,55.0,90.0
13,Boston,Brightcove,About Brightcove Brightcove is revolutionizing...,Business Analyst,$71k-$114k(Glassdoor Est.),MA,https://www.glassdoor.com/partner/jobListing.h...,71.0,114.0
14,Boston,BSASPEC,Job Description: Education :Minimum of a Bach...,Business Analyst,$70k-$110k(Glassdoor Est.),MA,https://www.glassdoor.com/partner/jobListing.h...,70.0,110.0
15,Boston,PatientPing,Title: Business AnalystLocation: BostonPatient...,Business Analyst,NaN,MA,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
16,Boston,State Street Corporation,The Business Analyst responsibilities include...,Business Analyst,$55k-$90k(Glassdoor Est.),MA,https://www.glassdoor.com/partner/jobListing.h...,55.0,90.0
17,Boston,Exari,"Business AnalystReports To: Senior Director, ...",Business Analyst,$47k-$76k(Glassdoor Est.),MA,https://www.glassdoor.com/partner/jobListing.h...,47.0,76.0
18,Boston,"Staffigo Technical Services, LLC",Responsibilities:Investigate service related i...,Entry Level Business Analyst,NaN,MA,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
19,Boston,Hollister Staffing,Senior Business AnalystOne of our clients is ...,Senior Technical Business Analyst,$74k-$119k(Glassdoor Est.),MA,https://www.glassdoor.com/partner/jobListing.h...,74.0,119.0
20,Boston,Liberty Mutual,Advance your career at Liberty Mutual Insuranc...,Senior Financial Analyst,$71k-$94k(Glassdoor Est.),MA,https://www.glassdoor.com/partner/jobListing.h...,71.0,94.0
21,Boston,Turbonomic,Turbonomic has been named one of Forbes Most P...,Commissions Analyst,NaN,MA,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
22,Boston,Genscape,Senior Energy Analyst Reports to: Product Ma...,Senior Energy Analyst,$56k-$86k(Glassdoor Est.),MA,https://www.glassdoor.com/partner/jobListing.h...,56.0,86.0
23,Boston,"Staffigo Technical Services, LLC",Role: Junior Business AnalystJob Summary One o...,Business Analyst,NaN,MA,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
24,Boston,DentaQuest,JOB SUMMARY: The Member Enrollment Analyst ha...,Member Enrollment Analyst,NaN,MA,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
25,Boston,LevelUp,Business Operations AnalystCome join the Level...,Business Operations Analyst,$53k-$82k(Glassdoor Est.),MA,https://www.glassdoor.com/partner/jobListing.h...,53.0,82.0
26,Boston,Westernacher,Business Analyst Are you looking for a global ...,Business Analyst,$74k-$107k(Glassdoor Est.),MA,https://www.glassdoor.com/partner/jobListing.h...,74.0,107.0
27,Boston,RxLogix Corporation,Job DescriptionTitle: Business Quality Analys...,Business Analyst - Entry Level,$59k-$94k(Glassdoor Est.),MA,https://www.glassdoor.com/partner/jobListing.h...,59.0,94.0
28,Boston,SysMind,Basic Job InformationJoborder Id : 117965Titl...,Business Analyst,$62k-$98k(Glassdoor Est.),MA,https://www.glassdoor.com/partner/jobListing.h...,62.0,98.0
29,Boston,Rimes Technologies,The Company:RIMES is a global managed data se...,Analyst,$50k-$79k(Glassdoor Est.),MA,https://www.glassdoor.com/partner/jobListing.h...,50.0,79.0
...,...,...,...,...,...,...,...,...,...
13247,Indianapolis,UnitedHealth Group,This position will be responsible for definin...,"Principal Data Analyst Indianapolis, IN or Tel...",$104k-$142k(Glassdoor Est.),IN,https://www.glassdoor.com/partner/jobListing.h...,104.0,142.0
13248,Indianapolis,Mommy Jobs Online,"This position is with Mommy Jobs Online, so p...",Billing Data Analyst,NaN,IN,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
13249,Indianapolis,Medxcel Facilities Management,Medxcel Facilities Management is here to lead ...,Pricing Analyst,$42k-$62k(Glassdoor Est.),IN,https://www.glassdoor.com/partner/jobListing.h...,42.0,62.0
13250,Indianapolis,Indiana Department of Transportation,This position is typically filled at a salary ...,Data Warehousing Analyst,$50k-$73k(Glassdoor Est.),IN,https://www.glassdoor.com/partner/jobListing.h...,50.0,73.0
13251,Indianapolis,UnitedHealth Group,This position will be responsible for definin...,"Principal Data Analyst - Indianapolis, IN or T...",$104k-$142k(Glassdoor Est.),IN,https://www.glassdoor.com/partner/jobListing.h...,104.0,142.0
13252,Indianapolis,dormakaba,Job Title Financial Analyst - Manufacturing L...,Financial Analyst,NaN,IN,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
13253,Indianapolis,Oracle,Develops and manages the Oracle Support relat...,Food & Beverage Business Unit - Customer Succe...,NaN,IN,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
13254,Indianapolis,CTG,Title: REMOTE EPIC IDENTITY ANALYST Location...,REMOTE EPIC IDENTITY ANALYST,NaN,IN,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
13255,Indianapolis,Anthem,"Your Talent. Our Vision. At Anthem, Inc., it’s...",Metrics Exec Advisor (Business Intelligence Ad...,NaN,IN,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
13256,Indianapolis,DevCare Solutions,Experience:2 years Duration: 12 Months PayRat...,Technology Analyst,$49k-$68k(Glassdoor Est.),IN,https://www.glassdoor.com/partner/jobListing.h...,49.0,68.0
13257,Indianapolis,Oracle,Executes security controls to prevent hackers...,IT Security Analyst 5 (JoinOCI-SecGroup),$62k-$95k(Glassdoor Est.),IN,https://www.glassdoor.com/partner/jobListing.h...,62.0,95.0
13258,Indianapolis,"The Judge Group, Inc.","Job DescriptionLocation: Indianapolis, IN Sal...",Financial Systems Data Analyst - Senior Associate,NaN,IN,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
13259,Indianapolis,The Heritage Group,Job Summary: The Financial Analyst will report...,Financial Analyst,NaN,IN,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
13260,Indianapolis,Cortland Capital Market Services,Position: Financial Covenants – Analyst I (Non...,Analyst- Financial Covenants,NaN,IN,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
13261,Indianapolis,CTG,Title: EPIC SER ANALYST Location: United Sta...,EPIC SER ANALYST,NaN,IN,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
13262,Indianapolis,Robert Half Finance & Accounting,Top investment management firm seeking a Seni...,Sr. Financial Analyst,NaN,IN,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
13263,Indianapolis,Accenture,Job descriptionApplication Security profession...,Security DevOps Sr Analyst - Location Negotiable,NaN,IN,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
13264,Indianapolis,CTG,Title: Cerner Ambulatory Support Analyst Loc...,Cerner Ambulatory Support Analyst,NaN,IN,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
13265,Indianapolis,Cardiac Pacemakers,Analyst-IT-FDE 08-Oct-2018 05-Feb-2019 Resp...,Analyst-IT-FDE,NaN,IN,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
13266,Indianapolis,CTG,Title: CERNER PATHNET SUPPORT ANALYST Locati...,CERNER PATHNET SUPPORT ANALYST,NaN,IN,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
13267,Indianapolis,CTG,Title: OPENLink Integration Analyst Location...,OPENLink Integration Analyst,NaN,IN,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
13268,Indianapolis,CTG,Title: Cerner PharmNet Support Analyst Locat...,Cerner PharmNet Support Analyst,NaN,IN,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
13269,Indianapolis,Lilly UK,SAP General Accounting FICO Functional Analyst...,SAP General Accounting FICO Functional Analyst,NaN,IN,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
13270,Indianapolis,"UTC CLIMATE, CONTROLS & SECURITY","UTC Climate, Controls & Security is a leading...",Senior Financial Program Analyst,$64k-$90k(Glassdoor Est.),IN,https://www.glassdoor.com/partner/jobListing.h...,64.0,90.0
13271,Indianapolis,Lilly UK,Analyst-MD IT-GRA IT Service08-Oct-201805-Feb-...,Analyst-MD IT-GRA IT Service,NaN,IN,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
13272,Indianapolis,Cardiac Pacemakers,Sr Analyst-IT-FDE 09-Nov-2018 09-Mar-2019 R...,Sr Analyst-IT-FDE,NaN,IN,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
13273,Indianapolis,BKD CPAs & Advisors,The successful candidate will have a passion ...,Implementation Consultant,NaN,IN,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
13274,Indianapolis,"Verint Systems, Inc.",*Technical Consultant** Location **US-Remote (...,Technical Consultant,$61k-$94k(Glassdoor Est.),IN,https://www.glassdoor.com/partner/jobListing.h...,61.0,94.0
13275,Indianapolis,Quinn David & Associates,Job DescriptionWe are seeking a Software Deve...,Software Developer / Implementation Consultant,NaN,IN,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
13276,Indianapolis,"Lexicon Pharmaceuticals, Inc.",Lexicon Pharmaceuticals is currently searchin...,"Territory Business Manager, Diabetes",$48k-$89k(Glassdoor Est.),IN,https://www.glassdoor.com/partner/jobListing.h...,48.0,89.0

In [5]:
city_set = pd.read_csv('/Users/shmylm/Desktop/Project/Process/' + 'city_sets.csv')

In [6]:
city_set.set_index('Rank')

          City Name State
Rank
1          New York    NY
2       Los Angeles    CA
3           Chicago    IL
4           Houston    TX
5      Philadelphia    PA
6           Phoenix    AZ
7       San Antonio    TX
8         San Diego    CA
9            Dallas    TX
10         San Jose    CA
11     Indianapolis    IN
12     Jacksonville    FL
13    San Francisco    CA
14           Austin    TX
15         Columbus    OH
16       Fort Worth    TX
17      New Orleans    LA
18        Charlotte    NC
19          Detroit    MI
20          Madison    WI
21          Memphis    TN
22          Atlanta    GA
23        Baltimore    MD
24           Boston    MA
25          Seattle    WA
26       Washington    DC
27           Denver    CO
28        Milwaukee    WI
29         Portland    OR
30        Las Vegas    NV

In [7]:
#Create a dictionary named state_dict in order to construct the dataframe named state 
state_dict = {}
for i in range(len(BA_job['State'])):
    if BA_job['State'][i] not in state_dict:
        state_dict[BA_job['State'][i]] = 1
    else:
        state_dict[BA_job['State'][i]] += 1

In [8]:
state_dict

{'MA': 612,
 'WA': 677,
 'PA': 309,
 'TX': 2451,
 'CA': 1839,
 'DC': 304,
 'OR': 303,
 'NV': 268,
 'LA': 95,
 'NY': 761,
 'NJ': 4,
 'NC': 874,
 'TN': 253,
 'OH': 174,
 'AZ': 584,
 'CO': 433,
 'WI': 656,
 'FL': 515,
 'MI': 262,
 'GA': 753,
 'MD': 423,
 'IL': 394,
 'IN': 333}

In [9]:
state = []
for i in state_dict.keys():
    state.append(i)

In [10]:
counts = []
for i in state_dict.values():
    counts.append(i)

In [11]:
state = pd.DataFrame({'State':state, 'Counts':counts})

In [12]:
state

   State  Counts
0     MA     612
1     WA     677
2     PA     309
3     TX    2451
4     CA    1839
5     DC     304
6     OR     303
7     NV     268
8     LA      95
9     NY     761
10    NJ       4
11    NC     874
12    TN     253
13    OH     174
14    AZ     584
15    CO     433
16    WI     656
17    FL     515
18    MI     262
19    GA     753
20    MD     423
21    IL     394
22    IN     333

In [13]:
#Add new column to the state dataframe, which will use as the label statistics when we mouse over each state in graph
state['text'] = 'State ' + state['State'].astype(str) + '<br>' + \
                'Counts ' + state['Counts'].astype(str)

In [19]:
#Setting the data for the graph
data = [dict(type = 'choropleth', locations = state['State'], z = state['Counts'], locationmode = 'USA-states',
       text = state['text'], colorscale = 'JET', colorbar = dict(title = 'Number of Positions'))]

In [20]:
data

[{'type': 'choropleth', 'locations': 0     MA
  1     WA
  2     PA
  3     TX
  4     CA
  5     DC
  6     OR
  7     NV
  8     LA
  9     NY
  10    NJ
  11    NC
  12    TN
  13    OH
  14    AZ
  15    CO
  16    WI
  17    FL
  18    MI
  19    GA
  20    MD
  21    IL
  22    IN
  Name: State, dtype: object, 'z': 0      612
  1      677
  2      309
  3     2451
  4     1839
  5      304
  6      303
  7      268
  8       95
  9      761
  10       4
  11     874
  12     253
  13     174
  14     584
  15     433
  16     656
  17     515
  18     262
  19     753
  20     423
  21     394
  22     333
  Name: Counts, dtype: int64, 'locationmode': 'USA-states', 'text': 0      State MA<br>Counts 612
  1      State WA<br>Counts 677
  2      State PA<br>Counts 309
  3     State TX<br>Counts 2451
  4     State CA<br>Counts 1839
  5      State DC<br>Counts 304
  6      State OR<br>Counts 303
  7      State NV<br>Counts 268
  8       State LA<br>Counts 95
  9      State NY<br>Counts 761
  10       State NJ<br>Counts 4
  11     State NC<br>Counts 874
  12     State TN<br>Counts 253
  13     State OH<br>Counts 174
  14     State AZ<br>Counts 584
  15     State CO<br>Counts 433
  16     State WI<br>Counts 656
  17     State FL<br>Counts 515
  18     State MI<br>Counts 262
  19     State GA<br>Counts 753
  20     State MD<br>Counts 423
  21     State IL<br>Counts 394
  22     State IN<br>Counts 333
  Name: text, dtype: object, 'colorscale': 'JET', 'colorbar': {'title': 'Number of Positions'}}]

In [24]:
#Create layout parameter for the graph
layout = dict(title = "US Business Analyst Positions by States", geo = dict(scope='usa', projection = dict(type = "albers usa")))

In [25]:
layout

{'title': 'US Business Analyst Positions by States',
 'geo': {'scope': 'usa', 'projection': {'type': 'albers usa'}}}

In [26]:
#Create a new object fig that contains both data and layout and get the graph
fig = dict(data = data, layout = layout)
py.iplot(fig, filename = "BA_Positions-choropleth.map")